<nav class="navbar navbar-expand-lg navbar-dark bg-dark2">
  <a routerLink="" class="navbar-brand" href="#">Finalministry</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a i18n="@@Congregations" class="nav-link disabled" href="#" aria-disabled="true">Congregations</a>
      </li>
      <li class="nav-item">
        <a i18n="@@Users" class="nav-link disabled" href="#" aria-disabled="true">Users</a>
      </li>
      <li class="nav-item">
        <a i18n="@@Territories" routerLink="territories" class="nav-link" href="#">Territories</a>
      </li>
      <li class="nav-item">
        <a i18n="@@Maps" routerLink="map" class="nav-link" href="#">Maps</a>
      </li>
      <li class="nav-item">
        <a i18n="@@Tools" class="nav-link disabled" href="#" aria-disabled="true">Tools</a>
      </li>
      <div class="nav-item">
        <a i18n="@@Settings" routerLink="settings" class="nav-link" href="#">Settings</a>
      </div>
      <div class="nav-item">
        <a routerLinkActive="active" routerLink="/login" class="nav-link" href="#">Login</a>
      </div>
      <!-- TODO dynamically show / hide links for login/logout -->
      <div class="nav-item">
        <a (click)="logout()" class="nav-link" href="#">Logout</a>
      </div>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (change)="search()">
      <button i18n="@@Search" class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
    </div>
  </div>
</nav>
