<nav class="navbar navbar-expand-lg navbar-dark bg-dark2">
  <a routerLink="" class="navbar-brand" href="#">Finalministry</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [hidden]="!authenticated()" class="nav-item">
        <a (click)="collapseMenu()" class="nav-link disabled" href="#" aria-disabled="true"><fa-icon [icon]="faBuilding"></fa-icon> Congregations</a>
      </li>
      <li [hidden]="!authenticated()" class="nav-item">
        <a (click)="collapseMenu()" routerLink="users" class="nav-link"><fa-icon [icon]="faUsers"></fa-icon> Users</a>
      </li>
      <li [hidden]="!authenticated()" class="nav-item">
        <a (click)="collapseMenu()" routerLink="territories" class="nav-link"><fa-icon [icon]="faBook"></fa-icon>Territories</a>
      </li>
      <li [hidden]="!authenticated()" class="nav-item">
        <a (click)="collapseMenu()" routerLink="map" class="nav-link"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Maps</a>
      </li>
      <li [hidden]="!authenticated()" class="nav-item">
        <a (click)="collapseMenu()" class="nav-link disabled" aria-disabled="true"><fa-icon [icon]="faTools"></fa-icon> Tools</a>
      </li>
      <div [hidden]="!authenticated()" class="nav-item">
        <a (click)="collapseMenu()" routerLink="settings" class="nav-link"><fa-icon [icon]="faCog"></fa-icon> Settings</a>
      </div>
      <div [hidden]="authenticated()" class="nav-item">
        <a (click)="collapseMenu()" routerLinkActive="active" routerLink="/login" class="nav-link" href="#"><fa-icon [icon]="faSignInAlt"></fa-icon> Login</a>
      </div>
      <div *ngIf="authenticated()" class="nav-item">
        <a (click)="collapseMenu()" class="nav-link"><fa-icon [icon]="faUser"></fa-icon> {{getUser().name}}</a>
      </div>
      <div *ngIf="authenticated()" class="nav-item">
        <a (click)="logout()" class="nav-link" href="#"><fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</a>
      </div>
    </ul>
    <div [hidden]="!authenticated()" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (change)="search()">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
    </div>
  </div>
</nav>
